body{
   background-color: #E0FFFF;
}
.form {
    max-width: 400px;
    width: 100%;
    margin:  0 auto;
  }
  #password, #repeatedPassword{
    margin-top: 15px;
  }
   #name,#surname,#date,#subject1,#subject2,#subject3,#certificate{
   margin-top:20px;
   }
  .btn,.btn2 {
    width: 100%;
    margin-top: 10px;
  }
  .btn2{
  width: 80%;
  margin-left:40px;
  }
  #submit,#submit2{
    background-color: mediumpurple;
    padding: 6px 14px;
    color:white;
    border:1px solid blueviolet;
    border-radius: 2px;
  }
   #submit:hover,#submit2:hover{
    background-color:blueviolet;
    cursor:pointer;
    border:1px solid blueviolet;
  }
#i11{
	margin-top:100px;
}
#i1{
	float:right;
}
h1{
	margin-top:200px;
}
td{
	width:50px;
}
.error-span, .error3-span {
  position: absolute;
  margin-left: 400px;
  margin-top: -2px;
  color: red;
  font-size: 12px;
  left: 0;
}
.error2-span{
  position: absolute;
  margin-left: 400px;
  margin-top: -2px;
  color: red;
  font-size: 12px;
  left: 0;
}
.error, .error2, .error3{
    border:1px solid red;
}